* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.App {
  padding: 80px 0px;
}
.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
}
